---
default_stages: [pre-commit]

default_install_hook_types: [pre-commit, commit-msg]

ci:
  autoupdate_commit_msg: 'pre-commit: autoupdate hooks'
  autofix_prs: false

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
        exclude: ^.*\.patch$
      - id: mixed-line-ending
        exclude: ^.*\.patch$

  - repo: https://github.com/talos-systems/conform
    rev: v0.1.0-alpha.31
    hooks:
      - id: conform
        stages:
          - commit-msg

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint]

  - repo: https://github.com/3mdeb/hooks
    rev: v0.2.2
    hooks:
      - id: namespell
        args: [--fix]

  - repo: https://github.com/priv-kweihmann/oelint-adv
    rev: 9.2.0
    hooks:
      - id: oelint-adv
        args: [--rulefile=.oelint-ruleset.json, --hide=info, --quiet]
        name: Advanced oelint
        description: Based on the OpenEmbedded Styleguide and work done by oe-stylize-tool this module offers a (nearly) complete linter for bitbake-recipes.
        entry: oelint-adv
        language: python
        language_version: python3
        files: .*\.(bb)|(bbappend)|(bbclass)$
